/* Basic Reset */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    background-image: url(./images/DALL·E\ 2023-12-09\ 17.36.26\ -\ A\ tranquil\ and\ soothing\ background\ image\ for\ a\ weather\ forecast\ website.\ The\ scene\ depicts\ a\ serene\ landscape\ with\ a\ mix\ of\ clear\ blue\ skies\ and\ soft\,.png);
    color: #333333;
  }
  
  /* Header */
  .header-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: rgba(167, 199, 210, 0.5);
  }
  
  h1 {
    color: white;
    margin: 0;
  }